.transfer_cart_container {
    border-radius: 5px 5px 0 0;
    margin-top: 1.5em;
    padding-top: 0.2em;
    background-color: rgb(77, 101, 146);
    border: 2px solid rgb(77, 101, 146);
    border-bottom: 0;
}

.transfer_cart {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.transfer_cart_action_buttons_container {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(42, 70, 103);
    border-top: 2px solid rgb(200, 200, 200);
    border-bottom: 0;
    padding-right: 1em;
    text-align: right;
}

.transfer_cart_action_buttons_container * {
    max-height: 0;
    transition: all 0.25s ease-in-out;
}

/* .transfer_cart_button {
    display: none;
} */

.transfer_cart_button {
    border: 1px solid rgb(77, 101, 146);
    background-color: rgb(77, 101, 146);
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin: 5px 5px;
    position: relative;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
}

.transfer_cart:hover .transfer_cart_button {
    border-color: rgb(27, 45, 66);
    background-color: rgb(61, 103, 150);
    line-height: 130%
}

.transfer_cart:hover .transfer_cart_action_buttons_container * {
    max-height: 3em;
    /* overflow-y: hidden; */
}

.transfer_cart_action_buttons_container .transfer_cart_button:hover {
    background-color: rgb(42, 70, 103);
}

.transfer_cart_action_buttons_container .transfer_cart_button:active {
    background-color: rgb(50, 70, 93);
}

.transfer_cart_bottom {
    height: 20px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 2.5em;
    padding-bottom: 1em;
    background-color: rgb(77, 101, 146);
    border: 2px solid rgb(77, 101, 146);
}

.transfer_cart thead tr {
    color: #efefef;
}

.transfer_cart tbody tr {
    height: 30px;
}

.transfer_cart thead th, .transfer_cart tbody td {
    text-align: center;
}

.transfer_cart tbody tr:hover {
    background-color: rgb(239, 239, 239);
}

.transfer_cart tbody tr:nth-child(2n+1) {
    background-color: rgb(255, 255, 255);
}

.transfer_cart tbody tr:nth-child(2n) {
    background-color: rgb(239, 239, 239);
}

.transfer_cart table {
    width: 100%;
}

.transfer_item_controls {
    color: rgb(140, 20, 20);
    position:absolute;
}

.transfer_item_controls span {
    position: absolute;
}

.transfer_item_controls:hover {
    color: rgb(200, 20, 20);
}

.publication_status_block {
    width: 90%;
    background-color: #f6f6f6;
    border: 2px solid #d1d1d1;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    margin: -15px auto 1em auto;
    padding: 0.5em 1em;
}

.reference_header {
    font-weight: bold;
}

.publication_status_block ul {
    margin: 0.5em;
    padding-left: 0;
    font-size: 0.9em;
}

.publication_status_block li {
    list-style: circle outside none;
    margin-left: 1.0em;
}

.publication_status_block a {
    text-decoration: none;
    color: #333;
    position: relative;
    transition: all 0.5s ease;
}

.publication_status_block a:hover {
    color: #333;
    text-decoration: underline;
}

.publication_left_block {
    float: left;
    width: 50%;
}

.publication_right_block {
    float: right;
    width: 50%;
}

@media (max-width: 960px) {
    .publication_status_block {
        display:none;
    }
}
