<div id="doi_transfer_cart" class="transfer_cart" style="display:none;">
    <div id="doi_cart_content" class="transfer_cart_headers transfer_cart_container">
        <table>
            <thead>
                <tr>
                    <th style="width: 10%;">Upload ID</th>
                    <th style="width: 15%;">Proposal</th>
                    <th style="width: 40%;">Instrument</th>
                    <th style="width: 30%;">Date Uploaded</th>
                    <th style="width: 10%;">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>69</td>
                    <td>45796</td>
                    <td>NMR Space Monster</td>
                    <td>2018-04-10 11:58:33 PDT</td>
                    <td class="transfer_item_controls">
                        <span class="fa fa-2x fa-minus-circle" aria-hidden="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>69</td>
                    <td>45796</td>
                    <td>NMR Space Monster</td>
                    <td>2018-04-10 11:58:33 PDT</td>
                    <td class="transfer_item_controls">
                        <span class="fa fa-2x fa-minus-circle" aria-hidden="true"></span>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
    <div class="transfer_cart_action_buttons_container">
        <div>
            <input type="button" class="transfer_cart_button transfer_cart_headers submit" value="Submit" />
            <input type="button" class="transfer_cart_button transfer_cart_headers cancel" value="Clear Selections" />
        </div>
    </div>
    <div class="transfer_cart_headers transfer_cart_bottom">&nbsp;</div>
</div>
