<?php
  $table_object = !empty($table_object) ? $table_object : "";
  $this->template_version = $this->config->item('template');
  $this->load->view("{$this->template_version}_template/view_header");
  $js = isset($js) ? $js : "";
  $user_id_string = $this->nav_info['current_page_info']['logged_in_user_id'] ?
    " ({$this->nav_info['current_page_info']['logged_in_user_id']})" : "";
?>

      <div id="container">
        <div class="main">
          <div id="header_container">
            <h1 class="underline"><?= $page_header ?></h1>
            <div id="login_id_container">
              <em><?= $this->nav_info['current_page_info']['logged_in_user'] ?><?= $user_id_string ?></em>
            </div>
          </div>
          <div class="form_container">
              <?php $this->load->view('selector_module_insert.html') ?>
          </div>
        <?php if($page_mode == 'cart'): ?>
            <?php $hide_cart_data = empty($cart_data['carts']) ? "display:none;" : ""; ?>
          <div id="cart_listing_container" class="themed" style="<?= $hide_cart_data ?>margin-top:1em;">
            <fieldset id="cart_listing_fieldset">
              <legend><?= $cart_legend ?></legend>
              <div id="cart_listing"></div>
            </fieldset>
          </div>
        <?php elseif($page_mode == 'transfer'): ?>
            <?php $this->load->view("doi_transfer_cart_table_view.html"); ?>
        <?php endif; ?>

          <div class="loading_status loading_progress_container status_messages" id="loading_status" style="display:none;">
            <div class="spinner_message_container">
              <span class="spinner" id="load_status_spinner"></span>
              <span id="loading_status_text">Loading...</span>
            </div>
          </div>
          <div class="themed" id="item_info_container" style="margin-top:20px;"></div>
        </div>
      </div>
    <?php $this->load->view("{$this->template_version}_template/view_footer_short"); ?>
  </div>
<script type='text/javascript'>
//<![CDATA[

    <?= $js ?>
    var load_spinner_opts = {
        lines: 9 // The number of lines to draw
      , length: 4 // The length of each line
      , width: 2 // The line thickness
      , radius: 4 // The radius of the inner circle
      , scale: 1 // Scales overall size of the spinner
      , corners: 1 // Corner roundness (0..1)
      , color: '#111' // #rgb or #rrggbb or array of colors
      , direction: 1 // 1: clockwise, -1: counterclockwise
      , speed: 1 // Rounds per second
      , trail: 60 // Afterglow percentage
      , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
      , zIndex: 2e9 // The z-index (defaults to 2000000000)
      , className: 'load_spinner' // The CSS class to assign to the spinner
      , top: '50%' // Top position relative to parent
      , left: '5%' // Left position relative to parent
      , shadow: false // Whether to render a shadow
      , hwaccel: true // Whether to use hardware acceleration
      , position: 'absolute' // Element positioning
    };
var target = document.getElementById('loading_status_text')
var loading_spinner = new Spinner(load_spinner_opts).spin(target);

//]]>
</script>

</body>
<?php if($page_mode == 'cart'): ?>
<?php $this->load->view("cart_create_dialog_view.html"); ?>
<?php endif; ?>
</html>
