<?php
  $table_object = !empty($table_object) ? $table_object : "";
  $this->template_version = $this->config->item('template');
  $this->load->view("{$this->template_version}_template/view_header");
  $js = isset($js) ? $js : "";

?>

      <div id="container">
        <div class="main">
          <div id="header_container">
            <h1 class="underline"><?= $page_header ?></h1>
            <div id="login_id_container">
              <em><?= $this->nav_info['current_page_info']['logged_in_user'] ?></em>
            </div>
          </div>
          <div class="form_container">
            <form id="instrument_selection" class="themed">
              <fieldset id="inst_select_container">
                <legend>Instrument Selection</legend>
                <div class="full_width_block" id="proposal_selector_container">
                  <select id="proposal_selector" class="criterion_selector" name="proposal_selector" style="width:100%;">
                    <?php
                        if(!empty($proposal_list)){
                            $this->load->view(
                                'proposal_selector_insert.html',
                                array(
                                    'proposal_list' => $proposal_list,
                                    'selected_proposal' => $selected_proposal
                                )
                            );
                        }
                    ?>
                  </select>
                </div>

                <div class="full_width_block" id="bottom_selector_container" style="margin-top:1em;">
                  <div class="left_block" id="instrument_selector_container">
                    <select id="instrument_selector" class="criterion_selector" disabled="disabled" name="instrument_selector" style="width:100%;">
                        <option></option>
                    </select>
                    <div class="selector_spinner_container" id="instrument_selector_spinner"></div>
                  </div>
                  <div class="right_block" id="timeframe_selector_container">
                    <div id="time_range_container" class="time_range_container pull-right">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span class="time_range_display"></span><span class="fake_selection_arrow" role="presentation"><b role="presentation">&nbsp;</b></span>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>

          </div>
            <?php $hide_cart_data = empty($cart_data['carts']) ? "display:none;" : ""; ?>
          <div id="cart_listing_container" class="themed" style="<?= $hide_cart_data ?>margin-top:1em;">
            <fieldset id="cart_listing_fieldset">
              <legend>Download Queue</legend>
              <div id="cart_listing"></div>
            </fieldset>
          </div>

          <div class="loading_status loading_progress_container status_messages" id="loading_status" style="display:none;">
            <span class="spinner" id="load_status_spinner"></span>
            <span id="loading_status_text">Loading...</span>
          </div>
          <div class="themed" id="item_info_container" style="margin-top:20px;"></div>
        </div>
      </div>
    <?php $this->load->view("{$this->template_version}_template/view_footer_short"); ?>
  </div>
<script type='text/javascript'>
//<![CDATA[

    <?= $js ?>
    var load_spinner_opts = {
        lines: 9 // The number of lines to draw
      , length: 4 // The length of each line
      , width: 2 // The line thickness
      , radius: 4 // The radius of the inner circle
      , scale: 1 // Scales overall size of the spinner
      , corners: 1 // Corner roundness (0..1)
      , color: '#111' // #rgb or #rrggbb or array of colors
      , direction: 1 // 1: clockwise, -1: counterclockwise
      , speed: 1 // Rounds per second
      , trail: 60 // Afterglow percentage
      , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
      , zIndex: 2e9 // The z-index (defaults to 2000000000)
      , className: 'load_spinner' // The CSS class to assign to the spinner
      , top: '50%' // Top position relative to parent
      , left: '38%' // Left position relative to parent
      , shadow: false // Whether to render a shadow
      , hwaccel: true // Whether to use hardware acceleration
      , position: 'absolute' // Element positioning
    };
var target = document.getElementById('loading_status_text')
var loading_spinner = new Spinner(load_spinner_opts).spin(target);

//]]>
</script>

</body>
<?php $this->load->view("cart_create_dialog_view.html"); ?>
</html>
