<option></option>
<?php foreach($project_list as $prop_id => $prop_title): ?>
  <?php $selected_state = $prop_id == $selected_project ? ' selected="selected"' : ''; ?>
  <?php $trunc_prop_title = truncate_text($prop_title['title'], 110); ?>
<option value="<?= $prop_id ?>"<?= $selected_state ?> title="<?= trim($prop_title['title'],'"') ?>">Project <?= $prop_id ?>: <?= $trunc_prop_title ?></option>
<?php endforeach; ?><br />
<?php $prop_list_object = "var initial_project_list = ['".implode("','",array_keys($project_list))."'];"; ?>
<?php $js .= "\n".$prop_list_object; ?>
