<form id="instrument_selection" class="themed">
  <fieldset id="inst_select_container">
    <legend>Transaction Search</legend>
    <div class="full_width_block" id="proposal_selector_container">
      <select id="proposal_selector" class="criterion_selector" name="proposal_selector" style="width:100%;">
        <?php
            if(!empty($proposal_list)){
                $this->load->view(
                    'proposal_selector_insert.html',
                    array(
                        'proposal_list' => $proposal_list,
                        'selected_proposal' => $selected_proposal
                    )
                );
            }
        ?>
      </select>
    </div>

    <div class="full_width_block" id="bottom_selector_container" style="margin-top:1em;">
      <div class="left_block" id="instrument_selector_container">
        <select id="instrument_selector" class="criterion_selector" disabled="disabled" name="instrument_selector" style="width:100%;">
            <option></option>
        </select>
        <div class="selector_spinner_container" id="instrument_selector_spinner"></div>
      </div>
      <div class="right_block" id="timeframe_selector_container">
        <div id="time_range_container" class="time_range_container pull-right">
            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
            <span class="time_range_display"></span><span class="fake_selection_arrow" role="presentation"><b role="presentation">&nbsp;</b></span>
        </div>
      </div>
    </div>
  </fieldset>
</form>
