<?php $hash_list = array(); ?>
<?php $informational_message = !empty($informational_message) ? $informational_message : ""; ?>
<?php if(!isset($transaction_data) || empty($transaction_data)): ?>
<div id="info_message_container">
    <h2 style="margin-top:1em;text-align:center;font-size:1.2em;"><?= $informational_message ?></h2>
</div>
<?php else: ?>
<h2 style="text-align:center;font-size:1.5em;"><?= $informational_message ?></h2>
<?php foreach($transaction_data['times'] as  $transaction_id => $upload_time_string): ?>
  <?php
  $transaction_info = $transaction_data['transactions'][$transaction_id];
  $friendly_upload_time = utc_to_local_time($upload_time_string, 'D, M j Y g:ia T');
  $release_class = $transaction_info['metadata']['release_state'] == 'not_released'
    ? "" : $transaction_info['metadata']['release_state'];
  $release_name = empty($release_class) ? "": $transaction_info['metadata']['release_state_display'];
  $download_url = "";
  ?>
  <?php $informational_message = !empty($transaction_info['informational_message']) ? $transaction_info['informational_message'] : ""; ?>
    <div id="fieldset_container_<?= $transaction_id ?>" class="fieldset_container">
      <div class="ribbon <?= $release_class ?>"><span><?= $release_name ?></span></div>
      <fieldset id="fieldset_<?= $transaction_id ?>" class="transaction_container">
        <input
            type="hidden"
            class="transaction_identifier"
            id="transaction_identifier_<?= $transaction_id ?>"
            name="transaction_identifier_<?= $transaction_id ?>"
            value="<?= $transaction_id ?>" />
        <?php $instrument_id = $transaction_info['metadata']['instrument_id']; ?>
        <?php $proposal_id = $transaction_info['metadata']['proposal_id']; ?>
        <?php $submit_time = $transaction_info['metadata']['submitted']; ?>
        <?php $download_url = $page_mode == 'release' && $release_class == 'released'? "{$external_release_base_url}released_data/{$transaction_id}" : "/view/{$transaction_id}"; ?>
        <input
            type="hidden"
            class="instrument_identifier"
            id="instrument_identifier_<?= $transaction_id ?>"
            name="instrument_identifier_<?= $transaction_id ?>"
            value="<?= $instrument_id ?>"
            title="<?= $transaction_info['metadata']['instrument_name'] ?>" />
        <input
            type="hidden"
            class="proposal_identifier"
            id="proposal_identifier_<?= $transaction_id ?>"
            name="proposal_identifier_<?= $transaction_id ?>"
            value="<?= $proposal_id ?>"
            title="<?= $transaction_info['metadata']['proposal_name'] ?>" />
        <input
            type="hidden"
            class="submit_time_identifier"
            id="submit_time_<?= $transaction_id ?>", name="submit_time_<?= $transaction_id ?>",
            value="<?= $submit_time ?>" />
        <legend>
          <?php if($view_mode == 'single'): ?>
              <span style="font-size: 0.9em;color: #3c4c1f">Upload ID <?= $transaction_id ?></span>
          <?php else: ?>
              <a id="upload_url_<?= $transaction_id ?>" class="upload_url" href="<?= $download_url ?>">Upload ID <?= $transaction_id ?></a>
          <?php endif; ?>
          <span class="friendly_upload_time"><?= $friendly_upload_time ?></span>
        </legend>
        <h2 id="message_block_<?= $transaction_id ?>" style="text-align:center;font-size:1.5em;"><?= $informational_message ?></h2>
        <?php $metadata_visibility = !isset($transaction_info['metadata']['files']) ? "display:none;" : ""; ?>
        <div class="metadata_fieldset" style="<?= $metadata_visibility ?>">
          <div class="full_width_block">
            <h3>
              <span>Metadata Uploaded</span>
              <span id="metadata_<?= $transaction_id ?>_dc" class="disclosure_button dc_up"></span>
              <span id="status_block_<?= $transaction_id ?>" class="download_status"></span>
            </h3>
            <div class="metadata_container" style="display:none;">
              <div class="left">
                <h4>Basic Metadata</h4>
                <?php ksort($transaction_info['metadata']); ?>
                <table class="metadata_description_table">
                  <tbody>
                    <?php foreach($transaction_info['metadata'] as $md_name => $md_value): ?>
                      <?php if(stripos($md_name, "file") === 0) continue; ?>
                      <?php $cleaned_type_name = trim(str_ireplace("id","ID", ucwords(str_replace("_"," ",$md_name)))); ?>
                    <tr class="metadata_description_list">
                      <td class="metadata_header <?= $md_name ?>"><?= $cleaned_type_name ?></td>
                      <td class="metadata_item"><?= $md_value ?></td>
                    </tr>
                    <?php endforeach; ?>
                  </tbody>
                </table>
              </div>
              <div class="right">
                <h4>User-Specified Metadata</h4>
                <table class="metadata_description_table">
                  <?php ksort($transaction_info['kv_pairs']); ?>
                  <?php foreach($transaction_info['kv_pairs'] as $md_name => $md_value): ?>
                  <tr class="metadata_description_list">
                    <td class="metadata_header"><?= $md_name ?></td>
                    <?php if(strtolower($md_name) == 'user of record'): ?>
                      <?php
                      $md_value_string = get_user_details($md_value)["display_name"] ?: $md_value;
                      $md_value = $md_value_string;
                      ?>
                    <?php endif; ?>
                    <td class="metadata_item"><?= $md_value ?></td>
                  </tr>
                  <?php endforeach; ?>
                </table>
              </div>
            </div>
          </div>
          <?php if($request_type == 't'): ?>
            <div class="full_width_block" style="width:95%;float:left;">
              <div class="disclosure_block">
                <div id="tree_<?= $transaction_id ?>" class="tree_holder">
                  <ul id="treeData_<?= $transaction_id ?>" style="display:none;">
                    <li id="treeData_<?= $transaction_id ?>" class="lazy folder">
                      <span>
                        <span style="font-weight:600;">
                        <span class="proposal_ident">Proposal <?= $transaction_info['metadata']['proposal_id'] ?></span> /
                        <span class="instrument_ident"><?= $transaction_info['metadata']['instrument_name'] ?></span>
                        <?php if(isset($transaction_sizes) && array_key_exists($transaction_id,$transaction_sizes)): ?>
                          <span class='folder_size_summary'>[Total Size: <?= format_bytes($transaction_sizes[$transaction_id]) ?>]</span>
                        <?php elseif(isset($transaction_info['file_size_bytes'])): ?>
                          <span class='folder_size_summary'>[Total Size: <?= format_bytes($transaction_info['file_size_bytes']) ?>]</span>
                        <?php endif; ?>
                        </span>
                    </span>
                  </li>
                </ul>
              </div>
              <div class='full_width_block buttons' id="dl_button_container_<?= $transaction_id ?>" style="margin-top:1em;display:none;">
                <input type='hidden' id='cart_id_<?= $transaction_id ?>' class='cart_id_storage' value='' />
                <div class="right_block button_container">
                  <input type="button" class="dl_button" id="dl_button_<?= $transaction_id ?>" style="position:relative;right:0;bottom:0;" value="Queue Selected Files for Download" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <?php endif; ?>
        <div class="full_width_block" id="error_msg_container_<?= $transaction_id ?>" style="display:none;">
          <span class="error" id="error_msg_<?= $transaction_id ?>"></span>
        </div>
      </fieldset>
      <div class="ingest_status_block" id="ingest_status_block_<?= $transaction_id ?>" style="display:none;"></div>
    </div>
    <div class="publication_status_block" id="pub_status_block_<?= $transaction_id ?>" style="display:none;overflow:hidden;">
        <div class="publication_left_block"></div>
        <div class="publication_right_block"></div>
    </div>
    <?php endforeach; ?>
  <?php endif; ?>
    <script type="application/javascript">
        var hash_list = <?=  json_encode($hash_list); ?>;
    </script>
