<?php
  $this->template_version = $this->config->item('template');
  $this->load->view("page_chrome/view_header");
  $user_id_string = !empty($this->nav_info['current_page_info']['logged_in_user_id']) ?
    "{$this->nav_info['current_page_info']['logged_in_user']} ({$this->nav_info['current_page_info']['logged_in_user_id']})" :
    "";
  $js = isset($js) ?
"<script type='text/javascript'>
//<![CDATA[
  {$js}
//]]>
</script>" : '';
?>
    <div id="container">
      <div class="main">
        <div id="header_container">
          <h1 class="underline"><?= $page_header ?></h1>
          <div id="login_id_container">
            <em><?= $user_id_string ?></em>
          </div>
        </div>
        <div style="position:relative;">
          <?php $hide_cart_data = empty($cart_data['carts']) ? "display:none;" : ""; ?>
          <div id="cart_listing">
            <?php $this->load->view('cart_status_insert_view.html', $cart_data); ?>
          </div>

          <div class="loading_progress_container status_messages" id="loading_status" style="display:none;">
            <span class="spinner">&nbsp;&nbsp;&nbsp;</span>
            <span id="loading_status_text">Loading...</span>
          </div>
          <div class="themed" id="item_info_container" style="margin-top:20px;">
            <?php if(!empty($message)) : ?>
            <h2><?= $message ?></h2>
            <?php else: ?>
            <?php  $this->load->view('upload_item_view.html', $transaction_data); ?>
            <?php endif; ?>
          </div>
        </div>

      </div>
    </div>
    <?php $this->load->view("page_chrome/view_footer_short"); ?>
<?= $js ?>
</body>
<?php $this->load->view("cart_create_dialog_view.html"); ?>
</html>
