/* Directory page styling */
ul.fancytree-container {
  font-family:inherit;
  background-color: #efefef;
  border:none;
  margin:0 !important;
  padding:0;
}

.fancytree-container ul {
  margin: 0 0 0 0 !important;
}

ul.fancytree-container li{
  margin-bottom:0 !important;
}

span.fineprint {
  font-size:0.8em;
  font-style:italic;
}

.item_link:visited, .item_link:link {
  color: #0077a4;
  text-decoration: none;
}

.item_link:hover{
  text-decoration:underline;
}
