.bar_holder span{
        text-align: center;
        vertical-align: super;
        background-image:url('/myemsl/status/status_block_wide.png');
        background-repeat:no-repeat;
        width:155px;
        height: 34px;
        display: inline-block;
        padding-top: 12px;
        font: bold medium "Helvetica";
        color: white;
        text-shadow: gray 1px 1px 1px;
        margin-left: -40px;
}

.tree_holder {
  margin-top:10px;
}

.transaction_container h2 {
  margin-bottom:0 !important;
  margin-top:10px;
}

ul.metadata_container li{
  margin-left:2em !important;
  margin-bottom: 2px !important;
  list-style: none;
}

.metadata_term {
  font-weight: bold;
  color:#222;
}

.transaction_container{
  margin-bottom:1em;
}

.bar_holder {
  text-align:center;
  margin-bottom:1em;
}
.red_bar_end {
  background-position: 0 0;
}
.orange_bar_end {
  background-position: 0 -50px;
}
.green_bar_end {
  background-position: 0 -100px;
}
.bar_holder {
	margin-left: 26px;
	position: relative;
}
.tooltip {
	text-decoration:none;
}

.block_0 {
  left:0px;
}

.block_1 {
  left:125px;
}

.block_2 {
  left:250px;
}
